<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> bienvenue chez EvenBrite Project !</h1>
    <p>
      Tu t'es inscrit sur EvenBriteProjet.fr en utilisant l'e-mail suivant : <%= @user.email %> <i class="em em---1"></i>
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %> 
    </p>
    <p> À bientôt <%= @user.first_name %> <i class="em em-heart_eyes_cat"></i>!
  </body>
</html>