<style>
.card{margin: 1%}
.contain{margin-left: 10%;margin-right: 10%; background-color: }
</style>

<!-- Light caption -->
<div class="contain">
<div class="d-flex align-content-between flex-wrap">
	<% Event.all.each do |event| %>
		<div class="card" style="width: 30rem;">
		    <div class="card-image">
		    	<a href="/events/"><% event.id %>
		            <img src="https://media.giphy.com/media/4oMoIbIQrvCjm/giphy.gif">
		        </a>
		    </div>
		    <div class="card-caption-overlay card-caption-overlay--3">
		        <div class="card-caption">
		            <div class="text-center">
		                <%=event.title %>
		                </a>
		                <span class="clearfix"></span>
		                <span class="text-sm"><%= event.description%></span><br><br>
		                <div class="text-center"><%= link_to "Participer", event_path(event.id), class:"btn btn-base-2"%></div>
		            </div>
		        </div>
		    </div>
		</div>
	<% end %>
</div>
</div>